@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 5, 3, 20;
    /* Deep purple/black */
    --background-end-rgb: 10, 5, 30;
    /* Slightly lighter purple/black */
  }
}

/* Clean scroll for GSAP ScrollTrigger */
html {
  scroll-padding-top: 80px;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      rgb(var(--background-start-rgb)),
      rgb(var(--background-end-rgb))) no-repeat min-h-screen;
      overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Ensure smooth rendering */
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

body {
  color: rgb(var(--foreground-rgb));
}

.hero_animation {
  background-image: linear-gradient(147.92deg, hsla(239, 76%, 53%, 0.456) 10.41%, hsla(0, 0%, 100%, 0) 89.25%);
  animation: changeBackgroundColor 8s infinite alternate;
}

.text-gradient {
  background: linear-gradient(90deg, #3e7fd9 2.34%, #5c3bd6 100.78%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}


@keyframes changeBackgroundColor {

  0%,
  100% {
    opacity: 1;
  }

  16.67% {
    opacity: 0.9;
  }

  33.33% {
    opacity: 0.8;
  }

  50% {
    opacity: 0.6;
  }

  66.67% {
    opacity: 0.5;
  }

  83.33% {
    opacity: 0.4;
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(-2px);
  }

  40% {
    transform: translateX(2px);
  }

  60% {
    transform: translateX(-2px);
  }

  80% {
    transform: translateX(2px);
  }

  100% {
    transform: translateX(0);
  }
}

.shake {
  animation: shake 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -45%);
  }

  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out;
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

.animate-slideInRight {
  animation: slideInRight 0.3s ease-out;
}